EMAIL_USER=mohd.kashif@singleinterface.com
EMAIL_PASS=your-gmail-app-password
LOGIN_EMAIL=mohd.kashif@singleinterface.com
LOGIN_PASS=_G%!ZyM1FR
TIME_ZONE=Asia/Kolkata
PUPPETEER_EXECUTABLE_PATH=
ALERT_RECIPIENTS=mohd.kashif@singleinterface.com,aijaz@singleinterface.com
ALERTS_ENABLED=true
